<!DOCTYPE html>
<html>
  <head>
    <title>RoomMate</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
    tailwind.config = {
        corePlugins: {
            // this keeps default formatting for html tags like <h1>
            // preflight: false 
        },
        theme: {
          extend: {
            fontFamily: {
              sans: ['Inter', 'ui-sans-serif', 'system-ui'], // choose your font here
            },
          },
        },
    }
    </script>
  </head>

  <body class="font-sans bg-gray-50">
    <%= render 'shared/navbar' %>
    <div class="max-w-1xl mx-auto p-6">
      <%= yield %>
    </div>
  </body>

</html>
